/* body{
    width: 100%;

} */

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 100px 20px;


}
.card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    overflow: hidden;
    box-shadow:0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in; 
    margin: 20px 10px 20px 30px ;
    border-radius: 30px;
   

}



.card-container:hover{
    transform: scale(1.1);
    box-shadow:0px 0px 15px 0px;
    
}




.image-container img{
    overflow: hidden;
    height: 200px;
    width: 300px;
    object-fit: cover;

}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

h3,p{
    margin: 0;
    padding: 0;
}

.card-title{
    margin-bottom: 0.5rem;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem; 
    /* border-radius: 3px; */
    

}

.btn button:hover{
    background:rgba(27, 156, 252, 0.1);
    transform: scale(1.1);
}


.view{
    text-transform: uppercase;
    color: rgb(24, 32, 74);
    text-decoration: none;
    font-weight: bold;

}

.title-restaurants{
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
    color: #1A512E;
    font-weight: 700;
}

button a {
    color: #1A512E;
}