.popular {
    margin-top: 50px;
    width: 80%;
    margin-inline: auto;
}

.popularFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.divider{
    width: 100%;
    max-width: 1080px;
}

.dropdown {

    width: 20px;
    height: 20px;
    margin-right: 70px;
    @media (max-width:480px) {
       margin-right: 0;; 
    }
}


.popularText {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    line-Height: 48px;
    color: #1A512E
}
.hide{
    display: none;
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;
    gap:80px;
    @media (max-width:1200px) {
        display: grid;
          gap:20px
        }
        @media (max-width:768px) {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(auto, 1fr);
   
             gap:20px
           }
    @media (max-width:480px) {
        grid-template-columns: 1fr; 
        
     }
}
.Card{  
    width: 300px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 30px;
    margin-top: 100px;
    @media (max-width:480px) {
       margin-bottom: 20px;
        
     }
}
.cardBody{
    margin-top: 20px;
    margin-bottom: 25px;
    
}
.cardheading{
    font-size: 30px;
}
.cardText{
   color: #836868; 
}
.amount{
    color: #836868;
}
.totalAmount{
    color: #836868;
}
.Card:hover{
    background-color:#836868;
         ;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}