.delivery {
    margin-top: 50px;
    width: 80%;
    margin-inline: auto;
}

.deliveryFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropdown {
    width: 20px;
    height: 20px;
}

.deliveryText {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    line-Height: 48px;
    color: #1A512E
}
.hide{
    display: none;
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    margin-top: 20px;

    @media (max-width:1200px) {
        display: grid;
          gap:20px
        }
        @media (max-width:768px) {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(auto, 1fr);
   
             gap:20px
           }
    @media (max-width:480px) {
        grid-template-columns: 1fr; 
     }
}
.Card{  
    width: 300px;
    background: #D9D9D9;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    color: #1A512E;
   
   
    box-shadow:0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in; 
    padding: 30px;
    border-radius: 20px;
    @media (max-width:480px) {
        margin-bottom: 20px;
         
      }
    
}
.Card:hover{
    /* background-color:#836868;
    background-color: #836868; */
    transform: scale(1.1);
    box-shadow:0px 0px 15px 0px;
         ;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.more:hover{
    background:#8368689c ;
}