
  .navbar{
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
  padding-top: 20px;
    /* padding: 60px 100px; */
    background: rgb(237,240,235);
    height: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 100;
    margin-bottom: 500px;
  }


  .profileImg{
    width:50px;
    height: 50px;

  }
  .flexProfile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;

    @media (max-width:480px) {
       display: none; 
    }
    
  }
  .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    @media  (max-width:480px) {
        height: 30%;
    }
}

.logo {
    font-family: "Poppins";
    margin-top: -20px;
     height:100px;
     width:100px;
    
     /* line-height: 52px ; */
  
     /* margin-left: -50px;
     margin-bottom: -100px; */
}

.SignUp{
    padding: 10px 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #ffff;
    border-radius: 10px;
   
    
}  
.SignUp:hover{
    background-color: #1a512e9f;
}

    

.hamburger{
    cursor: pointer;
    width:34px;
    height: 34px;
    transition: all, 0.25s;
    position: relative; 
    font-size: 40px;
   color:#1A512E;
    
}
.mobileView{
    display: none;

}
.backVideo{
    position: absolute;
    bottom:0;
    z-index: -1;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}
.selectBtnContainer{
    margin-top: 20px;
}
.selectBtn{
    background-color: rgb(24,32,74);
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #ffff;
    border-radius: 30px;
  
    margin-bottom: 20px;
  
   
    
}
.selectBtn1{
    background-color:#fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color:rgb(24,32,74); 
    border-radius: 30px;
    border: 1px solid;
    margin-bottom: 20px;  
    
}
.selectBtn2{
    background-color: rgb(24,32,74);
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #ffff;
    border-radius: 10px;  
    margin-bottom: 20px;
    
}
.formwrapper{
 position: relative;
}
.inputBtn{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    outline: none;    
}
.search{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 150px;
    top:25px
}

@media (max-width:768px){
/*  */

}

.dropdown {
    display: none;

    
}

.menu { 
    background-color: #1A512E;
    border:none;
    border-radius: 5px;
    color: #ffff;
  padding: 0 30px;
    
}

.menu:hover{
    background-color:#1a512e43
}


@media (max-width:480px){

   /* .backVideo{
    display: ;
   }  */
   .navbar{
    width: 100%;
    padding: 0 0px;
    

   }

   .hamburger{
    margin-left: 60px;
    color: #1A512E;
  
}
.logo{
    margin-left: -50px;
}
}