@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
 background:rgb(237,240,235);

    
}

.vendor-title{
    margin: 20px 10px 10px 50px;
    font-size: x-large;
  }

  .vendor-reg{
    
    @media (min-width:300px) {
     padding: 0 250px;
    }
  }
